@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: #fffdf8;
  color: #030213;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
