<div class="spr">

  @if (!hasFailed()) {
    <div class="spr-card spr-card--success">
      <div class="spr-card__deco spr-card__deco--1"></div>
      <div class="spr-card__deco spr-card__deco--2"></div>
      <div class="spr-card__icon-wrap spr-card__icon-wrap--success">
        <mat-icon>check_circle</mat-icon>
      </div>
      <h2 class="spr-card__title">{{ 'skinAnalysis.scanProgress.title' | translate }}</h2>
      <p class="spr-card__subtitle">{{ 'skinAnalysis.scanProgress.subtitle' | translate }}</p>
      <button class="spr-card__btn" (click)="onContinue()">
        {{ 'skinAnalysis.scanProgress.continueBtn' | translate }}
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  } @else {
    <div class="spr-card spr-card--fail">
      <div class="spr-card__icon-wrap spr-card__icon-wrap--fail">
        <mat-icon>error_outline</mat-icon>
      </div>
      <h2 class="spr-card__title">{{ 'skinAnalysis.scanProgress.failedTitle' | translate }}</h2>
      <p class="spr-card__subtitle">{{ 'skinAnalysis.scanProgress.failedSubtitle' | translate }}</p>
      <button class="spr-card__btn spr-card__btn--retry" (click)="onRetry()">
        <mat-icon>refresh</mat-icon>
        {{ 'skinAnalysis.scanProgress.retryBtn' | translate }}
      </button>
      <button class="spr-card__link" (click)="navigateBack()">Go back</button>
    </div>
  }

</div>
