<div class="se">

  <div class="se-card">
    <div class="se-card__icon-wrap">
      <mat-icon>error_outline</mat-icon>
    </div>
    <h2 class="se-card__title">{{ 'skinAnalysis.scanError.title' | translate }}</h2>
    <p class="se-card__subtitle">{{ 'skinAnalysis.scanError.subtitle' | translate }}</p>
    <div class="se-card__actions">
      <button class="se-card__retry" (click)="onRetry()">
        <mat-icon>refresh</mat-icon>
        {{ 'skinAnalysis.scanError.retryBtn' | translate }}
      </button>
      <button class="se-card__back" (click)="navigateBack()">
        {{ 'skinAnalysis.scanError.backBtn' | translate }}
      </button>
    </div>
  </div>

</div>
