<div class="scan-error">
  <div class="scan-error__content">
    <mat-icon class="scan-error__icon">error_outline</mat-icon>
    <h2 class="scan-error__title">{{ 'skinAnalysis.scanError.title' | translate }}</h2>
    <p class="scan-error__subtitle">{{ 'skinAnalysis.scanError.subtitle' | translate }}</p>
    <div class="scan-error__actions">
      <button class="scan-error__retry-btn" (click)="onRetry()">
        <mat-icon>refresh</mat-icon>
        {{ 'skinAnalysis.scanError.retryBtn' | translate }}
      </button>
      <button class="scan-error__back-btn" (click)="navigateBack()">
        {{ 'skinAnalysis.scanError.backBtn' | translate }}
      </button>
    </div>
  </div>
</div>
